/* Keen slider container must hide overflow */
.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* Each slide should take up space */
.keen-slider__slide {
  min-width: 0;
  flex: 0 0 auto;  
}

#section-collections {
  display: flex;
}
